workflows/WF-BUSCADOR-FORNECEDORES.json
{
  "name": "WF-BUSCADOR-FORNECEDORES-B2B",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Buscador de Fornecedores B2B",
        "formDescription": "Busca fornecedores de qualquer nicho no Brasil a partir de dados publicos de estabelecimento (Google Places). Saida normalizada por IA com carimbo LGPD.",
        "formFields": {
          "values": [
            { "fieldLabel": "nicho", "fieldType": "text", "requiredField": true },
            { "fieldLabel": "uf", "fieldType": "text" },
            { "fieldLabel": "limite", "fieldType": "number" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Entrada Formulario",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "buscador-fornecedores-b2b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "query",
              "type": "string",
              "value": "={{ $json.nicho + ' fornecedor ' + ($json.uf ? 'no estado ' + $json.uf : 'Brasil') }}"
            },
            { "id": "p2", "name": "nicho", "type": "string", "value": "={{ $json.nicho }}" },
            { "id": "p3", "name": "limite", "type": "number", "value": "={{ $json.limite || 20 }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Parametros",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "={{ $json.query }}" },
            { "name": "region", "value": "br" },
            { "name": "language", "value": "pt-BR" },
            { "name": "key", "value": "={{ $vars.GOOGLE_MAPS_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Google Places Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const resp = $json;\nconst limite = $('Parametros').first().json.limite || 20;\nconst results = (resp.results || []).slice(0, limite);\nif (results.length === 0) {\n  return [{ json: { _vazio: true, aviso: 'Nenhum estabelecimento retornado. Verifique GOOGLE_MAPS_API_KEY e o nicho.' } }];\n}\nreturn results.map(r => ({\n  json: {\n    nome: r.name,\n    endereco: r.formatted_address || '',\n    place_id: r.place_id,\n    rating: r.rating || null\n  }\n}));"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Extrair Candidatos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/details/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "place_id", "value": "={{ $json.place_id }}" },
            { "name": "fields", "value": "name,international_phone_number,formatted_phone_number,website,formatted_address" },
            { "name": "language", "value": "pt-BR" },
            { "name": "key", "value": "={{ $vars.GOOGLE_MAPS_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Place Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.OPENROUTER_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'google/gemini-2.5-flash-preview', messages: [ { role: 'system', content: 'Voce avalia se um estabelecimento e fornecedor relevante para o nicho informado. Responda SOMENTE um JSON: {\"relevancia\":0..1,\"categoria\":\"\",\"motivo\":\"\"}' }, { role: 'user', content: 'Nicho: ' + $('Parametros').first().json.nicho + '\\nEmpresa: ' + ($('Extrair Candidatos').item.json.nome || '') + '\\nEndereco: ' + ($('Extrair Candidatos').item.json.endereco || '') + '\\nSite: ' + (($json.result && $json.result.website) || '') } ], response_format: { type: 'json_object' } }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "IA Relevancia OpenRouter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "const ia = $json;\nlet parsed = { relevancia: 0, categoria: '', motivo: '' };\ntry {\n  const content = ia.choices && ia.choices[0] && ia.choices[0].message ? ia.choices[0].message.content : '{}';\n  parsed = JSON.parse(content);\n} catch (e) { parsed.motivo = 'falha ao interpretar IA'; }\n\nconst det = ($('Place Details').item.json.result) || {};\nconst cand = $('Extrair Candidatos').item.json;\n\nreturn {\n  json: {\n    nome: det.name || cand.nome || '',\n    telefone: det.international_phone_number || det.formatted_phone_number || '',\n    site: det.website || '',\n    email: '',\n    endereco: det.formatted_address || cand.endereco || '',\n    nicho: $('Parametros').first().json.nicho,\n    relevancia: Number(parsed.relevancia) || 0,\n    categoria: parsed.categoria || '',\n    motivo: parsed.motivo || '',\n    fonte: 'Google Places API (dados publicos de estabelecimento)',\n    base_legal_lgpd: 'Legitimo interesse - contato comercial B2B de pessoa juridica',\n    data_coleta: new Date().toISOString(),\n    opt_out: 'Remocao sob solicitacao: rud.pa@hotmail.com'\n  }\n};"
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Parse IA + Carimbo LGPD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.relevancia }}",
              "rightValue": 0.6,
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Filtro Relevante",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "COLE_O_ID_DA_PLANILHA_AQUI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Fornecedores", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Salvar Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1760, 0]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Fim",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1980, 0]
    }
  ],
  "connections": {
    "Entrada Formulario": { "main": [[{ "node": "Parametros", "type": "main", "index": 0 }]] },
    "Parametros": { "main": [[{ "node": "Google Places Search", "type": "main", "index": 0 }]] },
    "Google Places Search": { "main": [[{ "node": "Extrair Candidatos", "type": "main", "index": 0 }]] },
    "Extrair Candidatos": { "main": [[{ "node": "Place Details", "type": "main", "index": 0 }]] },
    "Place Details": { "main": [[{ "node": "IA Relevancia OpenRouter", "type": "main", "index": 0 }]] },
    "IA Relevancia OpenRouter": { "main": [[{ "node": "Parse IA + Carimbo LGPD", "type": "main", "index": 0 }]] },
    "Parse IA + Carimbo LGPD": { "main": [[{ "node": "Filtro Relevante", "type": "main", "index": 0 }]] },
    "Filtro Relevante": { "main": [[{ "node": "Salvar Google Sheets", "type": "main", "index": 0 }]] },
    "Salvar Google Sheets": { "main": [[{ "node": "Fim", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "templatecredsSetupCompleted": false }
}
